# **Q1**
Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
st = "This variable contains String" # (i) string
lst = [1,2,3,4] # (ii) list
flt = 87.3 # (iii) float
tpl = (1, 2, 3, 4, 5) # (iv) tuple

# **Q2.** 
Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [2]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

# **Q3.**
 Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [3]:
a = 7
b = 2

#(i) Division Operator(/): The division operator / is used to divide two numbers and returns the result as a float value.
res = a / b
print(res)
# The division operator divides a by b and returns the result as a float.


#(ii) Modulo Operator(%) : The modulo operator % is used to calculate the remainder of a division between two numbers.
res = a % b
print(res)
#The modulo operator% divides a by b and returns 1 as the remainder.

#(iii) Floor Division Operator(//): The floor division operator // divides two integers and returns the quotient as an integer value, ignoring the decimal component (flooring the result).
res = a // b
print(res)
#The floor division operator // divides a by b and returns the quotient, which is 3 (the decimal component is discarded).

#(iv) Exponentiation Operator(**): To increase one number to the power of another, use the exponentiation operator **. 
res = a ** b
print(res)
#** increases a to the power of b and returns the result, which is 49 (7 raised to the power of 2).

3.5
1
3
49

# **Q4.**
 Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [4]:
lst = [1,2,3,4, 'rahib', 45.5, True, ['Rahib'], False, 45.6]

for i in lst:
    print(i)

1
2
3
4
rahib
45.5
True
['Rahib']
False
45.6

# **Q5.**
 Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [5]:
x = 24
y = 3
i = 0

while x % y == 0:
    x = x // y
    i += 1

print("Number A is divisible by number B :", i, "times.")

Number A is divisible by number B : 1 times.

# **Q6.**
 Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [6]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,24,25]

for i in lst:
    if i % 3 == 0:
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

# **Q7.**
 What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable Data Types:
Mutable data types can be changed after they have been created. We can modify their values or contents without having to create a new object. When we need to update or modify data in-place, mutable objects come in handy. Like: String type data.

Immutable Data Types:
Immutable data types have values that cannot be modified once they are formed. If we want to make modifications to an immutable object, we must first construct a new object with the desired changes. In some cases, immutable objects are safer to employ since they guarantee that the value remains constant. Like: List type data.

In [7]:
# Mutable Data Types
lst = [1, 2, 3]
lst[0] = 10 # Modifying an element at a specific index.
print(lst) # [10, 2, 3]
# Lists are mutable sequences. You can add, remove, or modify elements within a list.


# Immutable Data Types
st = "Hello"
#st[0] = 'K'
# Trying to modify an element at a specific index. the string will result in an error.

[10, 2, 3]